#Newzone {
    display: flex;
    width: 80%;
    margin-left: 10%;
    border: solid 2px blue;
    height: 800px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#mapbox {
    border: solid 2px red;
    height: 80%;
    width: 45%;
    margin-top: 30px;
}

#Coordbox {
    border: solid 2px orange;
    height: 80%;
    width: 45%;
    margin-top: 30px;
    padding: 20px;
}


.streetbox {
    border: solid 2px yellow;
    display: flex;
    justify-content: left;
}

.gpsbox {
    margin-top: 30px;
    border: solid 2px yellow;
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}

.streetbox div {
    border: solid 2px red;
    text-align: left;
}

input {
    height: 30px;
    width: 100%;
    border: solid 2px grey;
    border-radius: 25px;
}

#geolocbutton:hover{
    color: green;
}

