#NZB {
    border: solid 2px#696969;
    border-radius: 50px;
    padding: 10px;
    width: 300px;
    color: white;
    background-color: #696969;
    position: absolute;
    left: 5%;
    top: 90%;
    z-index: 1000;
}

#NZB:hover {
    background-color: #808080;
}
