#NZB {
    border: solid 2px#696969;
    border-radius: 50px;
    padding: 10px;
    width: 300px;
    color: white;
    background-color: #696969;
    position: absolute;
    left: 5%;
    top: 90%;
    z-index: 1000;
    cursor: pointer;

}

#NZB:hover {
    background-color: #808080;
}

#NTB {
    border: solid 2px#696969;
    border-radius: 50px;
    padding: 10px;
    width: 300px;
    color: white;
    background-color: #696969;
    position: absolute;
    right: 5%;
    top: 90%;
    z-index: 1000;
    cursor: pointer;
}

#NTB:hover {
    background-color: #808080;
}

#SwitchButton {
    display: none;
}

@media all and (min-width: 400px) and (max-width: 599px) {

    #NZB {
        padding: 5px;
        width: 150px;
        left: 17%;
        top: 94%;
        font-size: 6px;
        transition: all 0.5s ease-out;
        cursor: not-allowed;
    }

    #NTB {
        padding: 5px;
        width: 150px;
        left: 17%;
        top: 94%;
        font-size: 6px;
        transition: all 0.5s ease-out;
        cursor: not-allowed;
    }

    #NTB.Switched {
        width: 80%;
        color: white;
        top: 85%;
        font-size: 17px;
        left: 5%;
        background-image: linear-gradient(to top, rgba(116, 219, 132, 0.7), #74DB84);
        border: solid 1px white;
        transition: all 0.5s ease-out;
        cursor: pointer;
    }

    #NZB.Switched {
        width: 80%;
        color: white;
        top: 85%;
        font-size: 17px;
        left: 5%;
        background-image: linear-gradient(to top, rgba(116, 219, 132, 0.7), #74DB84);
        border: solid 1px white;
        transition: all 0.5s ease-out;
        cursor: pointer;
    }

    #SwitchButton {
        display: block;
        top: 92%;
        right: 80px;
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    /*#SwitchButton.rotated {
        transform: rotate(180deg);
        transition: all 0.5s ease-out;
    }*/
}

@media all and (min-width: 300px) and (max-width: 399px) {

    #NZB {
        padding: 5px;
        width: 150px;
        left: 17%;
        top: 90%;
        font-size: 6px;
        transition: all 0.5s ease-out;
        cursor: not-allowed;
    }

    #NTB {
        padding: 5px;
        width: 150px;
        left: 17%;
        top: 90%;
        font-size: 6px;
        transition: all 0.5s ease-out;
        cursor: not-allowed;
    }

    #NTB.Switched {
        width: 75%;
        color: white;
        top: 80%;
        font-size: 15px;
        left: 5%;
        background-image: linear-gradient(to top, rgba(116, 219, 132, 0.7), #74DB84);
        border: solid 1px white;
        transition: all 0.5s ease-out;
        cursor: pointer;
    }

    #NZB.Switched {
        width: 75%;
        color: white;
        top: 80%;
        font-size: 15px;
        left: 5%;
        background-image: linear-gradient(to top, rgba(116, 219, 132, 0.7), #74DB84);
        border: solid 1px white;
        transition: all 0.5s ease-out;
        cursor: pointer;
    }

    #SwitchButton {
        display: block;
        top: 90%;
        right: 80px;
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    /*#SwitchButton.rotated {
        transform: rotate(180deg);
        transition: all 0.5s ease-out;
    }*/
}

@media screen and (max-width: 1024px) {
   
    #NTB {
        right: 7%;
      }

}