img {
    width: 120px;
    height: 110px;
}

#Glovelogo {
    width: 150px;
    height: 150px;

}

#LogoZone {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#SigninButton {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 35px;
    width: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: lightgreen;
    border-radius: 15px;
}

#SigninButton p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#title {
    font-size: 40px;
    font-weight: bold;
}

#titledesc {
    font-size: 30px;
    margin-left: 35px;
    margin-right: 35px;
}

#loginpopupbox {
    width: 30%;
    border: solid 2px black;
    border-radius: 15px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: aliceblue;
}

#LoginLink {
    font-size: 20px;
    cursor: pointer;
}

#LoginLinkTrue {
    color: skyblue;
    text-decoration: none;
}

#LoginPopup {
    width: 100%;
}

#LoginPopupCross {
    left: 63%;
    top: 1%;
    cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 599px) {
    
    #LoginPopupCross {
        left: 89%;
        top: 1%;
        cursor: pointer;
    }

    #loginpopupbox {
        width: auto;
        border: solid 2px black;
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: aliceblue;
    }
    
}